.header {
	display: flex;
	/* flex-wrap : wrap => 아이템이 한줄에 다 안들어가면 줄바꿈 해서 넣음 */
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 8px 16px;
	padding: 24px 16px;
	/* 헤더 상단 고정*/
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 100;
	box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.1);
}

.header_left {
	display: flex;
	align-items: center;
	gap: 8px;
}

.header_logo {
	width: 10px;
	height: 10px;
	align-self: center;
	background-color: var(--color-primary);
	border-radius: 4px;
}

.header_title {
	font-weight: 700;
	font-size: 21px;
	/* 글자 자간 */
	letter-spacing: -0.02em;
	white-space: nowrap;
}

.header_nav {
	display: flex;
	gap: 4px;
}

.nav_item {
	list-style: none;
}

.nav_link {
	color: #7e7f7f;
	padding: 9px 16px;
	font-size: 15px;
	text-decoration: none;
	font-weight: 700;
	border-radius: 9px;
}

.nav_link:hover {
	background-color: var(--color-primary-tint-bg);
}

.nav_link_active {
	color: var(--color-primary-dark);
	font-size: 15px;
	background-color: var(--color-primary-tint-bg);
	padding: 9px 16px;
	border-radius: 9px;
	font-weight: 700;
}

@media (max-width: 640px) {
	.header {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 16px 16px;
		padding: 24px 16px;
		/* 헤더 상단 고정*/
		position: sticky;
		top: 0;
		background-color: white;
		z-index: 100;
		box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.1);
	}

	.header_left {
		display: flex;
		align-items: center;
		gap: 8px;
	}
	.header_logo {
		width: 10px;
		height: 10px;
		align-self: center;
		background-color: var(--color-primary);
		border-radius: 4px;
	}
	.header_title {
		font-weight: 700;
		align-items: center;
		font-size: 21px;
		/* 글자 자간 */
		letter-spacing: -0.02em;
		white-space: nowrap;
	}
}
