.container {
  display: flex;
  flex-direction: column;
  padding: 24px;
  margin: 10px 24px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  flex: 1;
  min-width: 0;
}

.items {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); */
  /* 
    calc(50% - 8px) : 컨테이너 너비의 절반에서 8픽셀 뺀 값 = 간격 16 
    max : 그 중 더 큰 값을 선택 
    minmax(a, fr) : a는 아이템의 최소 크기, 1fr은 남는 공간을 균등하게 차지  
    repeat - autofit : 너비에 맞춰 몇열이 들어갈지 자동 계산 - 빈칸이 있으면 그 공간 채우기
     */
  grid-template-columns: repeat(
    auto-fit,
    minmax(max(200px, calc(50% - 15px)), 1fr)
  );
  align-items: center;
  gap: 16px;
  min-width: 0;
  padding: 0px 2rem;
}

.title {
  font-size: 24px;
  width: 100%;
  align-self: flex-start;
  padding: 0px 2rem;
  font-weight: normal;
  letter-spacing: 0.14em;
  color: #3b60e4;
}

.sub {
  align-self: flex-start;
  padding: 0px 2rem;
  margin: 12px 0px 12px;
  font-size: 16px;
  color: #6e7480;
  font-weight: 200;
}
/* .url {
      overflow-wrap: break-word; 
      word-break: break-all;
} */
