.app {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 24px 16px;
	/* background-color: antiquewhite; */
}

.header_title {
	font-weight: 700;
}

.header_nav {
	display: flex;
	gap: 24px;
}

.nav_item {
	list-style: none;
}
