.page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.app {
	/* max-width: 1200px; */
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	flex: 1;
	width: 100%;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 24px 16px;
	/* 헤더 상단 고정*/
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 100;
	box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.1);
}

.header_left {
	display: flex;
	align-items: center;
	gap: 8px;
}

.header_logo {
	width: 10px;
	height: 10px;
	align-self: center;
	background-color: #3b60e4;
	border-radius: 4px;
}

.header_title {
	font-weight: 700;
	font-size: 21px;
	/* 글자 자간 */
	letter-spacing: -0.02em;
}

.header_nav {
	display: flex;
	gap: 4px;
}

.nav_item {
	list-style: none;
}

.nav_link {
	color: #7e7f7f;
	padding: 9px 16px;
	font-size: 15px;
	text-decoration: none;
	font-weight: 700;
	border-radius: 9px;
}

.nav_link:hover {
	background-color: #edf1fe;
}

.nav_link_active {
	color: #3178c6;
	font-size: 15px;
	background-color: #edf1fe;
	padding: 9px 16px;
	border-radius: 9px;
	font-weight: 700;
}
