.container {
	background-color: white;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
	transition: transform 0.3s ease;
	border-radius: 18px;
	padding: 16px;
}

.container:hover {
	transform: scale(1.02);
}

.title {
}

.period {
}

.teamsize {
}

.overview {
}

.url {
}

.tags {
}
